@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Oswald&display=swap');

/* Custom Code */
*{
    padding: 0px;
    margin: 0px;
}

body{
  font-family: 'Oswald', sans-serif;
  background: url('../images/main_bg.png') no-repeat;
  max-width: 100%;
}

/* Custom Code Header style */
.container{
  background: url('../images/menu_title_bg.png') no-repeat;
  height: 560px;
  width: 625px;
  margin: 5% auto;
}

/* Custom Code h1 style */
.title{
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  padding-top: 30px;
  color: white;
}

/* Custom Code nav style */
.nav-container{
  width: 200px;
  margin: 0 auto;
}

/* Custom Code button style */
.btn{
  margin: 35px auto 5px auto;
}

#audio-Controller{
  width: 250px;
  margin-left: 30px;
  font-family: 'MedievalSharp', cursive;
}

/* Custom Code modal style */
.display-modal{
  display: block;
}

.hide-modal{
  display: none;
}

.w3-modal-content{
  background-color: transparent;
  height: 560px;
  width: 625px;
}

.w3-button{
  margin: 0 2% 2% 0;
  font-size: 28px;
}

.w3-container{
  background: url('../images/menu_title_bg.png') no-repeat center center;
  height: 560px;
  width: 625px;
}

.modal-title{
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  margin-top: 35px;
  color:white;
}

/* Custom code contact form style */
.center-form{
  width:350px;
  margin: 25px auto;
  font-size: 16pt;
}

.center-form input[type=text],[type=email]{
  width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
  border: 2px solid #fff;
  color: black;
}

.center-form textarea{
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  color: black;
}

.center-form button{
  margin: 10px auto 0 auto;
}

/* Code from https://www.w3schools.com/howto/howto_css_placeholder.asp*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

/* Custom code Story Modal style */
.story-block{
  padding: 30px;
}

.story-block > p{
  padding: 15px;
  font-size: 16pt;
}

/* Use the code from https://codepen.io/sowmyaseshadri/pen/LYRjGpr */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 220px;
    height: 60px;
    
    font-family: 'MedievalSharp', cursive;

    background: url("../images/btn_bg.png") no-repeat center center;
    cursor: pointer;
    font-size: 24px;
    color: white;
    transition: all 0.3s;
    position: relative;
  
    text-align: center;
    overflow: hidden;
}

button:hover {
  transform: translateX(3px) translateY(-5px);
}

.game-container{
  width: 100%;
}

.game-message{
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  padding-top: 30px;
  color: white;
  height: 70px;
  background: url(../images/header_bg.png) no-repeat center;
}

.show{
  visibility: visible;
}

.hide{
  visibility: hidden;
}

#game-world{
  max-width: 400px;
  height: 450px;
  margin: 50px auto;
}

footer{
  position: absolute;
  font-family: 'MedievalSharp', cursive;
  bottom: 0;
  background: url('../images/game_menu.png') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  font-size: 18pt;
}


/* Code from https://codepen.io/ann71727/pen/OJVQQeR */
ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
}

/* Override W3 School CSS, fixes an issue with the game world */
*, *:before, *:after {
   box-sizing: content-box;
}

.w3-container, .w3-panel {
   padding: 0px;
}

/* Custom Code for the Game Stats */
.game-stats li{
  margin: 0 2.5em;
  font-weight: 600;
}

/* Custom Code for the Game layout */
.game-tile{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  float: left;
}

.ground-div{
  background: url('../images/ground_tile.png') no-repeat;
}

.grass-div{
  background: url('../images/grass_tile.png') no-repeat;
}

.end-div{
  background: url('../images/end_tile.png') no-repeat;
}

.player-div{
  height: 30px;
  width: 30px;
  margin: 5px auto;
  background: url('../images/player.gif') no-repeat;
}

.enemy-div{
  height: 30px;
  width: 30px;
  margin: 5px auto;
  background: url('../images/enemy.gif') no-repeat;
}

.end-level{
  height: 300px;
  padding: 30px 0px 0px 65px;
  font-family: 'MedievalSharp', cursive;
  font-weight: 600;
}

.end-level > p{
  font-size: 16pt;
  margin-bottom: 25px;
}